// As a habit always import the globals and use them wherever you can for styles
@import './globals';

.playback-device-select {
  margin: auto;
}

.playlist-container {
  min-height: 20rem;
}

.playlist-search {
  display: block !important;
}

.playlist-item {
  align-content: center;
  vertical-align: middle;
  justify-content: space-between;
  font-size: $size-l;
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
}

.playlist-name {
  margin-top: auto;
  margin-bottom: auto;
}

.playlist-radio {
  // TODO: Fix whatever is making the radio buttons vertically off
  margin-top: auto;
}
