html, body, #root, .App {
  height: calc(100% - 25px);
}

/* Gradient doesnt work with styled-components */
.app-body {
  padding-top: 55px;
	background: linear-gradient(-45deg, #e4b4a4, #e9bbcd, #77c0b0, #7db6aa);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

a {
  color: white; 
}

li {
  vertical-align: middle; 
}

img {
  height: 400px;
  margin-block-end: 0.83rem; 
}

input[type=radio] {
  max-width: 30px;
  margin-top: 13.5%;
  border: 0px;
  width: 25%;
  height: 2em;
  flex-direction: row;
  align-items: right; 
}

input[type=text] {
  font-family: Proxima Nova;
  margin-top: 1rem;
  padding: 0.25%;
  text-align: center;
  vertical-align: middle;
  width: 35%;
  height: 5%; 
}

body {
  min-height: 100vh;
  font-family: Proxima Nova; 
}

input {
  vertical-align: middle; 
}

header {
  width: 100%;
  background: black; 
}

button {
  margin-top: 1rem;
  font-family: Proxima Nova; 
}

input[type=radio] {
  cursor: pointer;
  vertical-align: middle;
  padding-top: 15px; 
}

h1, h2, h3, h4, h5 {
  margin-block-start: 0;
  margin-block-end: 0; 
}

h3, h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; 
}

h1 {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
  background-color: black;
  color: #d6d6d6 !important; 
}

button:hover {
  cursor: pointer;
  background-color: #18ac4e; 
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%; 
  }
  50% {
    background-position: 100% 50%; 
  }
  100% {
    background-position: 0% 50%; 
  } 
}

@keyframes gradient {
  0% {
    background-position: 0% 50%; 
  }
  50% {
    background-position: 100% 50%; 
  }
  100% {
    background-position: 0% 50%; 
  } 
}

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova"), url(./fonts/Proxima-Nova-Black.otf) format("opentype");
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  min-height: 50px;
  max-height: 50px;
  margin: 0;
  padding-top: 0;
  align-content: center; 
}

ul {
  margin-bottom: 0;
  padding-bottom: 1rem; 
}
